---
title: "MAST Studio oferta współpracy"
preheader: "MAST Studio Architektury Wnętrz - oferta współpracy"
language: "pl"
bodyClass: bg-zinc-50
---

<x-main>
  <div role="presentation" class="bg-zinc-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-zinc-100">
          <table class="w-full">
            <!-- start HEADER -->
            <tr><td class="p-12 sm:py:8 sm:px-6">
                <a href="https://www.maststudiosc.com/">
                  <img src="images/logo-dark.png" width="200" alt="MAST Studio">
                </a>
            </td></tr>
            <!-- end HEADER -->

            <tr><td><x-divider space-y="0px"/></td></tr>

            <!-- start BODY -->
            <tr><td class="p-12 sm:py-8 sm:px-6 bg-zinc-200/50 text-zinc-700 text-justify">
              <h1 class="font-normal text-xl">
                Szanowni Państwo
              </h1>
              <p>
                Jesteśmy młodym studiem zajmującym się projektowaniem wnętrz, a nasza pasja do tworzenia unikalnych i pięknych przestrzeni jest nieodłączną częścią tego, co robimy. Chciałybyśmy zaprosić Państwa do odkrycia wspólnych możliwości i rozważenia naszej współpracy.
                <br><br>
                Działamy na rynku od czterech lat, mając przyjemność współpracować z różnymi biurami projektowymi, co pozwoliło nam zdobyć doświadczenie, które stanowi solidny fundament naszej działalności. Umiejętności jakie posiadamy w zakresie tworzenia wizualizacji i dokumentacji technicznej mogą stanowić dla Państwa zespołu dodatkowe wsparcie i przynieść nieocenione korzyści. Dzięki wykorzystaniu zaawansowanych narzędzi możemy dostarczyć kompleksowe i wysokiej jakości rozwiązania, które staną się solidną podstawą dla realizacji Państwa projektów.
                <br><br>
                Rozumiemy, że współpraca w branży wnętrzarskiej wymaga elastyczności, profesjonalizmu i zrozumienia. Nasze podejście oparte jest na partnerskim i transparentnym dialogu, aby zapewnić optymalne rezultaty i satysfakcję klientów. Jesteśmy przekonani, że połączenie naszych sił przyniesie spektakularne efekty.
                <br><br>
                <span class="font-semibold">Serdecznie zapraszamy do kontaktu!</span>
              </p>
            </td></tr>
            <!-- end BODY -->

            <!-- start FOOTER -->
            <tr><td class="bg-zinc-200 text-zinc-700">
              <table role="presentation" class="w-full"><tr>
                <td class="w-2/5 py-3" align="right">
                  <a href="https://www.maststudiosc.com/" class="no-underline">
                    <img src="images/web-dark.png" width="24" alt="website">
                  </a>
                </td>
                <td class="w-1/5 py-3" align="center">
                  <a href="https://www.facebook.com/ma.studio.st" class="no-underline">
                    <img src="images/facebook-dark.png" width="24" alt="facebook">
                </td>
                <td class="w-2/5 py-3"><a href="https://www.instagram.com/mast._studio/" class="no-underline">
                  <img src="images/instagram-dark.png" width="24" alt="instagram"></td>
              </tr></table>
            </td></tr>
            <!-- end FOOTER -->
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>